#chart {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  overflow: auto; }
  #chart .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1.5px; }
  #chart .node text {
    font: 12px sans-serif;
    pointer-events: none; }
  #chart path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px; }

#sidebar {
  display: none;
  min-width: 300px;
  background-color: #fff;
  float: left;
  margin-top: 5px; }
  #sidebar .sidebar-title {
    text-align: center;
    font-weight: bold;
    color: #333; }
  #sidebar #fileselect {
    margin-top: 10px; }
  #sidebar #filedrag {
    margin: 15px 0 8px 0;
    border: 1px solid #bbb;
    border-radius: 6px;
    cursor: default;
    overflow: auto; }
    #sidebar #filedrag #file-list {
      margin: 0;
      padding: 0;
      color: #345;
      list-style: none; }
      #sidebar #filedrag #file-list .file {
        font-size: 14px;
        padding: 18px 15px; }
        #sidebar #filedrag #file-list .file:nth-child(1) {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        #sidebar #filedrag #file-list .file:nth-child(even) {
          background: #fcf8e3; }
        #sidebar #filedrag #file-list .file:nth-child(odd) {
          background: #dff0d8; }
        #sidebar #filedrag #file-list .file.selected {
          background: #9cbdde; }
        #sidebar #filedrag #file-list .file .file-status {
          margin-top: 10px;
          margin-bottom: 3px;
          margin-left: 10px;
          margin-right: 10px; }
          #sidebar #filedrag #file-list .file .file-status .loading {
            margin-right: 10px; }
          #sidebar #filedrag #file-list .file .file-status .test {
            position: absolute;
            right: 10px; }
          #sidebar #filedrag #file-list .file .file-status .loading {
            animation: spin 1.5s linear infinite;
            display: inline-block; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
          #sidebar #filedrag #file-list .file .file-status .cancel-loading {
            margin-left: 10px;
            margin-right: 10px;
            border: 1px solid #d54d63; }
            #sidebar #filedrag #file-list .file .file-status .cancel-loading:active {
              background: #d54d63; }
          #sidebar #filedrag #file-list .file .file-status .delete {
            margin-left: 5px; }
          #sidebar #filedrag #file-list .file .file-status .open-file {
            border: 1px solid #355; }
            #sidebar #filedrag #file-list .file .file-status .open-file:active {
              background: #5ab18d;
              border-color: #5ab18d; }
  #sidebar #filedrag.hover {
    border: 2px;
    border-color: #2491f9;
    border-style: solid; }
  #sidebar #filedrag.wrong-file-type {
    border: 2px;
    border-color: red;
    border-style: solid;
    cursor: no-drop; }
  #sidebar #loaded-label {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 15px; }
  #sidebar .filedrag-label {
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-top: 25px; }
  #sidebar #messages {
    height: 100%;
    padding: 0 10px;
    border: 1px solid #999;
    border-radius: 5px;
    overflow: auto; }

img {
  max-width: 100%; }

.noselect, #sidebar #filedrag #file-list .file .file-status .cancel-loading, #sidebar #filedrag #file-list .file .file-status .delete, #sidebar #filedrag #file-list .file .file-status .open-file {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */ }

.sm-btn, #sidebar #filedrag #file-list .file .file-status .cancel-loading, #sidebar #filedrag #file-list .file .file-status .open-file {
  border-radius: 3px;
  padding: 0 5px 2px 5px;
  background: none;
  font-size: 14px; }
  .sm-btn:focus, #sidebar #filedrag #file-list .file .file-status .cancel-loading:focus, #sidebar #filedrag #file-list .file .file-status .open-file:focus {
    outline: none; }

#progress p {
  display: block;
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
  background: #eee url("progress.png") 100% 0 repeat-y; }

#progress p.success {
  background: #0c0 none 0 0 no-repeat; }

#progress p.failed {
  background: #c00 none 0 0 no-repeat; }

body {
  font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif; }
  body .panel {
    position: absolute;
    top: 10px;
    bottom: 20px;
    left: 13px;
    right: 10px; }
