.component {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.area-title {
  text-align: center;
  font-weight: bold;
  color: #333;
}

.pull-right {
  position: absolute;
  right: 20px;
}
