#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: #fff;
  #filedrag {
    text-align: center;
    @extend .component;
    border: 1px solid #bbb;
    border-radius: 6px;
    cursor: default;

    #file-list {
      margin: 0;
      padding: 0;
      color: #345;
      list-style: none;
      .file {
        position: relative;
        font-size: 14px;
        padding: 18px 15px;
        transition: all 0.2s ease-out;
        strong {
          font-size: 15px;
        }
        @extend .list-style;
        .file-status {
          @extend .pull-right;
          .loading {
            @extend .spin-div;
          }
        }
      }
      .removing {
        opacity: 0;
        padding: 0 15px;
      }
    }
    &.hover {
      border: 2px;
      border-color: #2491f9;
      border-style: solid;
    }
  }
  .detail-label {
    text-align: center;
    color: #555;
    margin-top: 25px;
    &:last-child {
      margin-bottom: 25px;
    }
    a {
      color: #3b5998;
      text-decoration: none;
      margin: 0 3px;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: #3b5998;
      }
    }
  }
}

.spin-div {
  animation: spin 1.5s linear infinite;
  display: inline-block;
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

.list-style {
  &:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:nth-child(even) {
    background: #fcf8e3;
  }
  &:nth-child(odd) {
    background: #dff0d8;
  }
  &.selected {
    background: #9cbdde;
  }
}

.noselect {
  user-select: none;
}
