@import "predefine";
body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  .panel {
    position: absolute;
    top: 30px;
    bottom: 51px;
    left: 40px;
    right: 40px;
  }
}

#branch-area {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  #branches {
    @extend .component;
    font-size: 14px;
    min-width: 200px;
    border: 1px solid #bbb;
    color: #345;
    border-radius: 5px;
    overflow: auto;
    line-height: 1.5;
    .branch {
      @extend .noselect;
      padding: 10px 0 10px 15px;
      display: block;
      cursor: default;
      &:nth-child(even) {
        background: #fcf8e3;
      }
      &:nth-child(odd) {
        background: #dff0d8;
      }
      &.hovered {
        background: rgba(162, 191, 221, 0.8);
      }
    }
    .sub {
      @extend .noselect;
      padding: 5px 0 5px 35px;
      display: block;
      cursor: default;
      &:hover {
        background: rgba(162, 191, 221, 0.8);
      }
      &.locked {
        background: rgba(125, 123, 255, 0.95);
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

#chart-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 363px;
  #tools {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .left {
    float: left;
    margin-right: 5px;
  }
  .right {
    float: right;
    margin-left: 5px;
  }
  #checkbox {
    font-size: 12px;
  }
  #chart {
    @extend .component;
    min-width: 400px;
    border: 1px solid #bbb;
    border-radius: 5px;
    // overflow: auto;
    // cursor: pointer;
    .node rect {
      fill-opacity: 0.5;
      stroke: #3182bd;
      stroke-width: 1px;
      // cursor: pointer;
      &.centered {
        stroke: red;
        stroke-width: 2px;
      }
    }
    .node text {
      font-size: 14px;
      pointer-events: none;
    }
    path.link {
      fill: none;
      stroke: #9ecae1;
      stroke-width: 1px;
    }
    text {
      z-index: -1;
    }
  }
}
